{% extends 'base.html.twig' %}

{% block title %}List articles{% endblock %}

{% block body %}
    <h1>Articles</h1>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for article in articles %}
                <div class="col">
                    <a href="{{ path('visitor_article_id', {id : article.id}) }}">
                        <div class="card h-100">
                            <img src="{{ article.url }}" class="card-img-top" alt="img of the article">
                            <div class="card-body">
                                <h5 class="card-title">{{ article.title }}</h5>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">{{ article.comments|length }} comments</small>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}